:root {
    --gradient: linear-gradient(#8AFFB2, #11251C);
}
.desktopbg{
    width: auto; 
    height: auto; 
    position: relative; 
    background: #11251C
}
.gradient{
    width: 100%; 
    height: 1080%; 
    left: 0px; 
    top: 181px; 
    position: absolute; 
    background: linear-gradient(180deg, #8AFFB2 0%, #488860 3%, #2A533B 25%, #1F3E2D 40%, #11251C 100%)
}
.header{
    width: 100%; 
    height: 400%; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #8AFFB2
}
.main-icon{
    width: 200px; 
    height: 200px; 
    left: 620px; 
    top: 96px; 
    position: absolute; 
    background: #AEE06D; 
    border-radius: 9999px
}
.mask-group{
    width: 200px; 
    height: 200px; 
    left: 620px; 
    top: 96px; 
    position: absolute;
}
.ellipse2{
    width: 200px; 
    height: 200px; 
    position: absolute; 
    background: #11251C; 
    border-radius: 9999px
}
.elys{
    width: 200px; 
    height: 200px; 
    position: absolute;
}
.books{
    width: 170px; 
    height: 0px; 
    left: 984px; 
    top: 701px; 
    position: absolute
}
.educ-exp{
    right: 120px; 
    bottom: 90px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 24px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.book-icon{
    width: 100px; 
    height: 120px; 
    right: 135px; 
    bottom: 170px; 
    position: absolute
}
#aboutme{
    left: 400px; 
    top: 450px; 
    position: absolute; 
    color: white; 
    font-size: 24px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word
}
.about-me{
    width: 100%; 
    height: 100%; 
    position: relative
}
.profile-icon{
    width: 100px; 
    height: 100px; 
    left: 400px; 
    top: 365px; 
    position: absolute
}
.name{
    color: white; 
    font-size: 40px; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word
}
@font-face {
    font-family: "myFont";
    src: url(./fonts/baloo.regular.ttf);
}
h2 {
    font-family: "myFont";
    text-align: center;
    line-height: 1.0;
}
p {
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
}
body {
    display: flex;
    justify-content: center;
    background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTJ6cXFianN1Yzk1MDJsMTQwYzcxZWFrMjZib3F5NXlwYzRtMTN1NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/Thw1a3yuO9jAHlDiRE/giphy.gif);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: auto;
}

.container .card {
    position: relative;
    width: 310px;
    height: 375px;
    background: #F9FACA;
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    border-radius: 10px;
}

.container .card2 {
    position: relative;
    width: 310px;
    height: 375px;
    background: #cecece;
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    border-radius: 10px;
}

.container .quote{
    width: 900px;
    height: 80px;
    position: absolute;
    bottom: -80px;
    background: #cecece;
    text-align: center;
    border-radius: 10px;
}

.container .form{
    margin-top: 83rem;
    width: 30rem;
    height: 35rem;
    position: absolute;
    background: #cecece;
    text-align: center;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
.container{
flex-direction: column;
}
.card{
background-color: aliceblue;
}
.quote em{
color: purple !important;
}
}

br{
    margin: 1em;
}